  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">WijnUitErica</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle" href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li class="nav-item pe-3">
          <kbd style="margin-right: 10px; padding-right: 0px;">
            <%= session.user.name %>
          </kbd>
          <a class="btn btn-danger" href="/logout">Uitloggen</a>
        </li>
      </ul>
    </nav>
  </header>